<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Codeigniter 4 PDF Example - positronx.io</title>
  
  <style type="text/css">
  	table, th, td {
  border: 1px solid white;
  
}
th, td {
  background-color: #eee;
 


}

th{
	font-weight: bolder;
}

.purpose th , .purpose td{
	padding: 20px;
	background-color: #eee;
 
}

.branch{
	border: 1px solid #000;
	padding-right: 100px;
	font-weight: bolder;
}
.account_no{
	
}
  </style>
}
}
</head>
<body>
  <link rel="stylesheet" href="<?='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'?>">
    <a class="btn btn-success" href="/PdfController/htmlToPDF">">fff</a>
  <div class="container mt-5">
    <h2>Gloabal Service Help Center</h2>
    <br>

      <div class="row">
      	<div class="col-sm-1">Date:</div>
      	<div class="col-sm-2"><table>
      		<tr>
      			<td>D</td>
      			<td>D</td>
      			<td>M</td>
      			<td>M</td>
      			<td>Y</td>
      			<td>Y</td>
      			<td>Y</td>
      			<td>Y</td>
      		</tr>
      		<tr>
      			<td>&nbsp;</td>
      			<td></td>
      			<td></td>
      			<td></td>
      			<td></td>
      			<td></td>
      			<td></td>
      			<td></td>
      		</tr>
      	</table>
      </div>
      <div class="col-sm-5 branch">Paid at People’s Bank <br>
      Branch </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3 branch">Paid Bank <br> Branch
		Code:</div>
      </div>
      <br>
      <div class="row">
      	<div class="col-md-12">
      		<table class="purpose">
      			<tr>
      				<th>user id</th>
      				<th>user name</th>
      				<th>subcription plan</th>
      				<th>subcription date</th>
      			</tr>
      			<tr>
      				<td>1</td>
      				<td>Dilum Thilanka</td>
      				<td>Standed</td>
      				<td>2022.06.22</td>
      			</tr>
      		</table>
      	</div>
      </div>

      <div class="row">
      	<p>PAID IN CREDIT OF:<br>
<span class="account_no">GLOBAL SERVICE HELP CENTER - AC No. 086-1001-111-89667</span></p>
      </div>

    </div>
    
 
</body>
</html>